#header {
    font-size: 20px;
    color: #123456;
    text-align: center;
    margin-top: 50px;
}
#stats {
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
}
#label {
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
}
#page {
    text-align: center;
    font-size: 18px;
}

